* {
  box-sizing: border-box;
}

/* HEADER */
header {
  /* använder chrome plugin colorZilla för att får exakta färger */
  background-color: #1a252b;
}

header h1 {
  margin: 0;
  padding: 25px;
  color: #fff;
}

nav {
  padding: 10px 0 10px 0;
}

nav a {
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #fff;
}

nav a:link:hover {
  background-color: #1a252b;
}

.menu {
  background-color: #427878;
}

/* BODY */
body {
  background-color: #5daca9;
  margin: 0;
}

.section-title {
  margin-left: 30px;
}

p {
  margin: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.sektion1 {
  margin-bottom: 80px;
}

.sektion1-float1 {
  float: left;
  margin-right: 70px;
  margin-left: 60px;
}

.sektion1-float2 {
  float: left;
  margin-right: 70px;
  margin-left: 60px;
}

.sektion1-float3 {
  float: left;
  margin-right: 70px;
  margin-left: 60px;
}

article {
  background-color: #e1f1f1;
  width: 500px;
  padding: 30px 30px 40px 40px;
}

/* FOOTER */
footer {
  background-color: #1a252b;
  padding: 1px;
  text-align: center;
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

footer p {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

/* Animations */
.sektion-animation {
  animation: moveInLeft 1s ease-out;
}

.sektion1-float1,
.sektion1-float2,
.sektion1-float3,
.sektion2-float1,
.sektion2-float2,
.sektion2-float3 {
  animation: moveInRight 1s ease-out;
}

/* Keyframes */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-50px);
  }

  80% {
    transform: translatex(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translatex(100px);
  }

  80% {
    transform: translatex(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
