/* Header och menu */
header {
  background-color: #1a252b;
}

header h1 {
  margin: 0;
  padding: 25px;
  color: #fff;
}

nav {
  padding: 10px 0 10px 0;
}

nav a {
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #fff;
}

nav a:link:hover {
  background-color: #1a252b;
}

.menu {
  background-color: #427878;
}

/* FOOTER */
footer {
  background-color: #1a252b;
  padding: 1px;
  text-align: center;
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

footer p {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  /* width: 1240px; */
  height: auto;
  background-color: #5daca9;
}

img {
  width: 248px;
  height: 165px;
}

/* Page header and filter */
.sort {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 40px 0 10px 0;
}

.page-heading {
  font-size: 26px;
  margin-left: 60px;
}

.filter {
  display: flex;
  margin-right: 60px;
}

/* Products gallery */
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-image {
  width: 240px;
}

.product-info h2 {
  font-size: 18px;
  margin-left: 1px;
}

.product-info h3 {
  font-size: 15px;
  margin-left: 1px;
}
